
{% extends "global/outerWrapper.html" %}

{% block page_body %}

    {% include "global/loading.html" %}

    {% block page_menu %}
        {# include "global/menu.html" #}
    {% endblock %}

    <div class="page_border_top">
        <img src="/img/page_border_top.png" alt="border-top-img" />
    </div>

    <div class="page_border">
    <div>

        {#<div class="show_menu" id="show_menu">
            <div class="show_menuBG_1"></div>
            <img src="/img/menu-icon.png" alt="menu" />
        </div>
        {% include "global/menu.html" #}

        {% block page_content %}
            default page content
        {% endblock %}


        {#<div class="page_footer">
            {% block page_footer %}
                {% include "global/footer.html" %}
            {% endblock %}
        </div>#}

    </div>

{% endblock %}
