
#config file to setup ghost environment

option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 0.10.31

packages:
   yum:
      gcc: []
      gcc-c++: []

container_commands:
   10_pre_install_sqlite3:
      command: "/opt/elasticbeanstalk/node-install/node-v0.10.21-linux-x64/bin/npm install sqlite3@2.1.16 --build-from-source"
      cwd: "/tmp/deployment/application"
      env:
          HOME: "/root"
          PATH: "/sbin:/bin:/usr/sbin:/usr/bin:/opt/aws/bin"
   11_mkdir_tmp_dirs:
      command: |-
         echo "creating temp directories if needed"
         if [ ! -d /tmp/content ]; then mkdir /tmp/content ; fi && \
         if [ ! -d /tmp/content/data ]; then mkdir /tmp/content/data ;  fi && \
         echo "complete temp directories check"
   12_chown_tmp_dirs:
      command: "chmod -R a+rwx /tmp/content"

