
<div class="homepage-section" id="location">
    <div class="row">
        <div class="columns">

            <div class="homePage-profilePicCtn">
                <span class="ajs-orange">Austin</span>
                <a href="#professional">
                    <div class="homePage-profilePicCtnInner">
                        <div class="homePage-profilePicBG_1 pulse delay_1"></div>
                        <div class="homePage-profilePicBG_2 pulse"></div>
                        <div class="homePage-profilePic"></div>
                    </div>
                </a>
                <span class="ajs-orange">Brown</span>
            </div>

            <div style="text-align: center;" class="ajs-navy">

                Full Stack Developer passionate about working with emerging technologies. <br />
                <span style="font-weight: 700;">Located in Seattle, WA</span>.
                {#I write code, dream math, and blog nonsense#}

                <br />
                <br />

                <div class="homepage-social">
                    <a href="https://github.com/ajsnapshots" target="_blank"><img alt="github" src="/img/social-2.jpg" style="left: 0px;" /></a>
                </div>

                <div class="homepage-social">
                    <a href="http://www.linkedin.com/in/austinjbrown" target="_blank"><img alt="linkedIn" src="/img/social-2.jpg" style="left: -100px;" /></a>
                </div>

                <div class="homepage-social">
                    <a href="mailto:austinjbraun@gmail.com"><img alt="email" src="/img/social-2.jpg" style="left: -200px;" /></a>
                </div>

                <div class="homepage-social">
                    <a href="http://instagram.com/ajsnaps" target="_blank"><img alt="instagram" src="/img/social-2.jpg" style="left: -300px;" /></a>
                </div>

                <div>
                    Email: <a href="mailto:austinjbraun@gmail.com">austinjbraun@gmail.com</a>
                </div>

            </div>

        </div>
    </div>

    {#<a href="#professional"><div class="homepage-nextSection ajs-orange">professional</div></a>#}
    <a href="#professional"><div class="homepage-nextSection ajs-orange" style="right:13em;">professional</div></a>
    <a href="#personal"><div class="homepage-nextSection ajs-orange" style="right:6em;">personal</div></a>
    <a href="#history"><div class="homepage-nextSection ajs-orange">history</div></a>

</div>

