
<div class="homepage-section" id="personal">

    <div class="row">
        <div class="columns">

            <div class="blockquote">
                <p>
                    <span class="ajs-orange homepage-section-title">Privately</span> classified as "Recovering Mathematician" by those in the know, I eagerly consume any math related materials unfortunate enough to stray into my path.
                    Apart from code and math, I run and hike, being irresistibly drawn to high places with a view, and am on an ongoing quest to summit every mountainous peak in the Pacific Northwest.
                </p>
                <p>
                </p>
            </div>

        </div>
    </div>

    <a href="#history"><div class="homepage-nextSection ajs-orange">history</div></a>

</div>
