

<div style="position: relative;overflow: hidden;" id="history">

    <div class="row">

        <div class="small-12 columns">
            {#<div class="blockquote">
                <p>#}
                    <span class="ajs-orange homepage-section-title">Professional and Educational History.</span>
                    <br />
                    <br />
                {#</p>
            </div>#}
        </div>

    </div>
    <div class="row">

        <div class="small-12 columns">
            <div class="blockquote-lite">

                <span class="homepage-skill-title ajs-orange">Hointer Inc.</span>
                <div class="row">
                    <div class="small-3 columns">
                        <img src="/img/hointer-logo.png" alt="hointer-logo" />
                    </div>
                    <div class="small-9 columns">
                        <span class="homepage-skill-title ajs-navy">2+ years</span> as Lead Software Developer in charge of all technological platform design and development.
                        <ul>
                            <li>
                                Most Innovative Retailer of the Year (DDI Magazine).
                            </li>
                            <li>
                                Top 10 Tech Disruptors of 2013 (Chain Store Age).
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="row">

        <div class="small-12 columns">
            <div class="blockquote-lite">

                <span class="homepage-skill-title ajs-orange">Western Washington University</span>
                <div class="row">
                    <div class="small-3 columns">
                        <img src="/img/wwu-logo.png" alt="wwu-logo" />
                    </div>
                    <div class="small-9 columns">
                        <span class="homepage-skill-title ajs-navy">3 years</span> as Mathematics and Computer Science student extraordinaire.
                        <ul>
                            <li>
                                Bachelors Degree in Mathematics/Computer Science.
                            </li>
                            <li>
                                Comap Mathematical Modeling Competition (Meritorious Winner).
                            </li>
                            <li>
                                Kryptos Cryptanalysis Challenge (Turing Distinction).
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="row">

        <div class="small-12 columns">
            <div class="blockquote-lite">

                <span class="homepage-skill-title ajs-orange">Olympic College</span>
                <div class="row">
                    <div class="small-3 columns">
                        <img src="/img/oc-logo.png" alt="oc-logo" />
                    </div>
                    <div class="small-9 columns">
                        <span class="homepage-skill-title ajs-navy">2 years</span> as a budding student of Mathematical and Programmatic principles.
                        <ul>
                            <li>
                                Associates Degree in Arts and Science.
                            </li>
                            <li>
                                Graduated with honors.
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <a href="#location"><div class="homepage-nextSection ajs-orange">back to top</div></a>

</div>
